.logo {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.service-body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60%;
    height: 100vh;
    background-image: url("/static/img/bg.jpg");
}

.text-wrapper{
    margin-top: 40vh;
    text-align: center;
    color: white;
}