<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    {% load static %}
    {% include 'default.html' %}
</head>        
<body class="">
        {% include 'nav.html' %}
         
         <div class="row col-md-3 float-left border-right">
            <div class="h-100">
                <div class="collapse multi-collapse" id="collapseExample">
                    <div class="w-100" id="category">
                        <button type="button" class="btn btn-primary btn-xs">전체</button>
                    </div>
                    <div class="w-100" id="tag">
                    
                    </div>
                    <div class="w-100" id="list">
    
                    </div>
                </div>
            </div>                        
        </div>
        <div class="col-md-8"></div>        
         

</body>
</html>